<li>
	<table>
		<tr>
			<th></th>
			<th>Название</th>
			<th>Кол-во слушателей</th>
		</tr>
		<tr>
			<td><img class="artist_image" src="<%= image %>"></td>
			<td class="artist_name"><%= name %></td>
			<td><%= listeners %></td>
			<td class="artist_mbid"><%= mbid %></td>
		</tr>
	</table>
</li>