// Place all the styles related to the concerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.concert_entry {
	border-top: 1px solid black;
	padding: 20px 0;
}
.concert_entry li {
	list-style: none;
	float: left;
	padding: 0 10px;
	width: 200px;
	word-break: break-all;
	width: 22%;
	min-height: 180px;
}
.concert_entry li img {
	max-width: 150px;
	max-height: 150px;
}