// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#favorites_search_results {
	height: 400px;
	overflow-y: scroll;
}
#favorites_search_results li {
	padding: 20px 0;
	list-style: none;
	border-top: 1px solid black;
	cursor: pointer;
}
#favorites_search_results li tr, #favorites_search_results li th {
	width: 200px;
}
#favorites_search_results .gloom li {
	opacity: 0.2;
}
#favorites_search_results li.selected {
	opacity: 1;	
}
#favorites_search_results .loading {
	background: url("loading.gif") no-repeat 400px 200px;
	opacity: 0.1;
}
#submit_favorites {
	display: none;
}
#api_library {
	margin: 20px 0;
	display: none;
}
#api_library input {
	margin: 0;
}