// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#log_out {
	float: right;
	padding: 10px 20px;
}

#container {
  	margin-top: 55px;
  }
a {
	color: #0481C0;
}
a:visited {
	color: #056FC2;
}
a.external {
	color: #05A7F8;
}
a.external:after {
	content: " \f14c";
	font-family: FontAwesome;
}
a.external:visited {
	color: #0B9BE2;	
}
.table img {
	max-width: none;
}
.clear {
	clear: both;
}
.truncated {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 50px;
}
.long {
	cursor: pointer;
}