// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#log_out {
	float: right;
	padding: 10px 20px;
}

#container {
  	margin-top: 55px;
  }