// Place all the styles related to the recommendations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.filter input, .filter select {
  width: 10%;
}
.more_button {
  float: left;
}
#recommendation_search input[type=number], #q_artist_year_from, #q_artist_year_to{
  width: 100px !important;
}